{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировать по:
            <a href="/catalog?sort=name">названию</a>
            <a href="/catalog?sort=min_price">начиная с дешевых</a>
            <a href="/catalog?sort=max_price">начиная с дорогих</a>
        </div>



        <table width=100%>
        {% for phone in phones %}
          {% cycle 'row' '' as row silent %}
          {% if row %}<tr>{% endif %}
            <td width=50% valign="top">
                {% include 'product_card.html' with phone=phone %}
            </td>
          {% if not row %}</tr>{% endif %}
        {% endfor %}
        </table>

    </div>
{% endblock %}